.wrapper {
	height: 710px;
	width: 1200px;
}

/* MAIN APP WINDOW */

.window {
	height: 570;
	width: 950;
}

/*********************/
/**** BOTTOM MENU ****/
/*********************/

.bottom-menu {
    width: 950px;
    height: 130px;
}

#video_output {
    top: 578px;
    max-height: 130px;
    left: 130px;
    right: 330px;
}

#video_output canvas {
    height: 93px;
}

#video_output canvas :dragged {
    height: 93px;
    width: 129px;
}

#video_output .sortable-placeholder {
    height: 91px;
    width: 122px;
}

#trash {
    top: 578px; 
    right: 249px;
    height: 97px;
	font-size: 6em;
    width: 78px;
    padding-top: 20px;
}

#trash .sortable-placeholder {
    height: 100%;
    width: 79px;
    top: 0px;
    right: -1px;
}

#toggle {
    width: 125px;
}

#toggle .small {
	width: 26px;
	height: 26px;
}

#toggle .big {
	width: 80px;
	height: 80px;
}

/**********************/
/***** RIGHT MENU *****/
/**********************/

.right-menu {
	height: 668;
    width: 240;
}